
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 20;
}

#sidebar p {
    text-align: center;
}

#sidebar.active {
    transform: translateX(0);
}

#close-sidebar {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    background-color: #f4f4f4;
    padding: 10px;
}
        /* Form Styles */
        form {
            padding: 20px;
        }

        form h2 {
            margin-top: 0;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        form button:hover {
            background-color: #f3f169;
            color: black;
        }