*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#search{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 50px auto ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);

}
#search .searchBox{
    width: 90%;
}
#search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-right: 150px;
    font-size: 20px;
}
#search input:hover{
    background-color: transparent;
}

#search input::-webkit-search-cancel-button{
    display: none;
}
#search i{
    font-size: 25px;
    color: black;
    margin-top: 10px;
}
#close{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
#close span{
    font-weight: bold;
}
#container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
/*
#product{
    width: 400px;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.342);
    border-radius: 10px 30px;
    margin-bottom: 30px;
    text-align: center;
} */




.img-contanier .main-image {
    background-color: #e9f0ec;
    object-fit: fill;
    width: 100%;

    height: auto;
    }
.page {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    }
.main-container {
    width: 100%;
    border-top: 1px solid #e9f0ec;
    padding-top: 24px;
    }
.view {
    display: flex;
    gap: 6px;
    align-items: center;
    }
.card {
    max-width: 400px;
    overflow: hidden;
    transition: tranform 0.3s ease;
    font-size: 16px;
    /* border: 2px solid rgba(0, 0, 0, 0.548); */
    margin-bottom: 30px;
    padding: 20px;
    }
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 16px;
    }
.dataInfo {
    display: flex;
    }
.item-name {
    display: flex;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    }

.price {
    font-size: 18px;
    color: orangered;
    font-weight: bold;
    }

.item-name:hover p:first-child {
    text-decoration: underline;
    cursor: pointer;
    }
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 14px;
    }
.data img {
    border-radius: 50%;
    border: 3px solid black;
    }
.img-contanier {
    position: relative;
    overflow: hidden;
    }
.img-contanier button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f7da4c;
    color: black;
    transform: translateY(110%);
    transition: transform 0.3s ease;
    border: none;
    font-size: 16px;
    padding: 10px 15px 12px;
    font-family: Arsenal;
    font-weight: bold;
    }
.card:hover .img-contanier button {
    transform: translateY(0%);
    }
.img-contanier button:hover {
    background-color: black;
    color: #f7da4c;
    transition: 0.9s;
    }


   